@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 9rem 500px 150px auto 50px;
  grid-template-areas:
    " header header header "
    " . main . "
    " . search . "
    " results results results "
    " footer footer footer ";
  justify-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#bg-container {
  background-image: url("./images/default-cat-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% auto; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 98%;
  filter: blur(15px);
  z-index: -1;
  transform: scale(103%);
  overflow: hidden;
}

header,
section,
footer,
form {
  z-index: 2;
  overflow: hidden;
}

header {
  grid-area: header;
  background-color: black;
  color: whitesmoke;
}
header > h1 {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
}

#primary-image-section {
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-image-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

#main-image-container > img {
  box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: cover;
  margin-top: 10px;
}

#alt-text-container {
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 1.5em;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  width: 100%;
}

#alt-text-container > p {
  color: black;
  z-index: 100px;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
}

.altText {
  position: absolute;
  bottom: 0;
  left: 0;
}
#search {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: search;
  padding: 1rem;
  border-radius: 3rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: black;
  box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 2em;
}

#search-input {
  padding: 0.6rem 1rem;
  font-size: 2em;
  border-radius: 0.5em;
}

#submit {
  padding: 1rem 3rem;
  font-size: 1.6em;
  border-radius: 2rem;
  border: none;
  background-color: silver;
}

#results {
  grid-area: results;
}

#results-container {
  grid-area: results;
  background-color: darkslategray;
  height: 100%;
  width: 100%;
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#gallery-container {
  /* display: relative; */
  max-width: 100%;
  /* display: none; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  border-radius: 2em;
  /* --mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    )
    100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
}

#thumb-container {
  box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.75);
  background-color: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  padding: 1em;
  scroll-behavior: smooth;
}
#thumb-container > img {
  height: auto;
  width: auto;
}

.thumb-result {
  width: 100%;
  max-height: 100%;
  margin: 0.4em;
}

#nav-right,
#nav-left {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 10%;
  border: none;
  background-color: black;
  z-index: 10;
}
#nav-right span,
#nav-left span {
  margin: -4.7rem 0 0 0;
  font-size: 5rem;
  height: 1rem;
  width: 3rem;
  color: white;
}

#nav-right {
  visibility: visible;
}

#nav-left {
  visibility: hidden;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  color: whitesmoke;
  background-color: black;
}

/* I know i've done my design is the wrong way round and it should be mobile-first, but i've spent too long to think about reversing everything. */
@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 500px 150px auto 30px;
    grid-template-areas:
      "header"
      "main"
      "search"
      "results"
      "footer";
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
  }

  #bg-container {
    background-image: url("./images/default-cat-small.jpg");
  }

  header > h1 {
    margin: 0.8em;
    padding: 0;
    font-size: 1.8em;
  }

  form {
    gap: 0;
    flex-direction: column;
    height: auto;
  }

  #thumb-container {
    overflow: scroll;
    height: 80%;
  }

  #nav-left,
  #nav-right {
    position: absolute;
    bottom: 4rem;
    margin: 0;
    padding: 2em 2em;
  }

  #nav-left,
  #nav-right > button {
    font-size: 1em;
  }

  #nav-left {
    border-radius: 0 2em 2em 0;
    left: 0;
  }
  #nav-right {
    border-radius: 2em 0 0 2em;
    right: 0;
  }
}
